body {padding-top: 70px;}
#main-menu img{height: 10px;margin-right: 10px;}
header.slide {height: 290px ;overflow: hidden;}
.hero-feature {	margin-bottom: 10px;}
.hero-feature .thumbnail{min-height: 350px;}
.hero-feature .thumbnail .img-container{height: 170px; overflow: hidden;}
@media (max-width: 768px) {
	.hero-feature .thumbnail .img-container{height: 230px; overflow: hidden;}
}
footer {margin: 50px 0;}