<div class="row">
    <div class="col-lg-12">
        <h3>New Arrival</h3>
    </div>
</div>
<div class="row text-center">
    <div ng-repeat="phone in [1,2,3,4,5,6]" class="col-lg-2 col-md-3 col-sm-3 col-xs-6 hero-feature">
        <div class="thumbnail">
            <div class="img-container">
                <img src="images/iphone.jpg" class="img-responsive" alt="">
            </div> 
            <div class="caption">
                <h4>IPhone 6</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="">More Info</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>New Smart Phone</h3>
    </div>
</div>
<div class="row text-center">
    <div  ng-repeat="p in [1,2,3]" class="col-lg-2 col-md-3 col-sm-3 col-xs-6 hero-feature">
        <div class="thumbnail">
            <div class="img-container">
                <img src="images/iphone.jpg" class="img-responsive" alt="">
            </div>
            <div class="caption">
                <h4>IPhone 6 Plus</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="">More Info</a>
                </p>
            </div>
        </div>
    </div>
    <div  ng-repeat="p in [1,2,3]" class="col-lg-2 col-md-3 col-sm-3 col-xs-6 hero-feature">
        <div class="thumbnail">
            <div class="img-container">
                <img src="images/samsungS6Edge.jpg" class="img-responsive" alt="">
            </div>
            <div class="caption">
                <h4>Samsung S6</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="">More Info</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>New Smart Watch</h3>
    </div>
</div>
<div class="row text-center">
    <div ng-repeat="p in [1,2]" class="col-lg-2 col-md-3 col-sm-3 col-xs-6 hero-feature">
        <div class="thumbnail">
            <div class="img-container">
                <img src="images/appleWatch.jpg" class="img-responsive" alt="">
            </div>
            <div class="caption">
                <h4>Apple Watch</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="">More Info</a>
                </p>
            </div>
        </div>
    </div>
    <div ng-repeat="p in [1,2]" class="col-lg-2 col-md-3 col-sm-3 col-xs-6 hero-feature">
        <div class="thumbnail">
            <div class="img-container">
                <img src="images/samsungWatch.jpg" class="img-responsive" alt="">
            </div>
            <div class="caption">
                <h4>Samsung Watch</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="">More Info</a>
                </p>
            </div>
        </div>
    </div>
    <div ng-repeat="p in [1,2]" class="col-lg-2 col-md-3 col-sm-3 col-xs-6 hero-feature">
        <div class="thumbnail">
            <div class="img-container">
                <img src="images/lgWatch.jpg" class="img-responsive" alt="">
            </div>
            <div class="caption">
                <h4>Lg Smart Watch</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="">More Info</a>
                </p>
            </div>
        </div>
    </div>
</div>